.tableHeader{
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
}

.alleTavle{
    width: 60%;
    margin: 0 auto;
}

th {
    background-color: #0d5474;
    color: white !important;
}

.searchInput label{
    color: #0d5474;
    font: bold;
    font-size: 20px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}