@import url("https://www.dafontfree.net/embed/c3RlbmNpbC1zdGQtYm9sZCZkYXRhLzUxL3MvMjMzNTMvU3RlbmNpbFN0ZC5vdGY");

svg {
    font-family: 'stencil-std-bold', sans-serif;
    position: relative;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

div {
    margin: 10px 0 30px 0;
}