@import url("https://www.dafontfree.net/embed/c3RlbmNpbC1zdGQtYm9sZCZkYXRhLzUxL3MvMjMzNTMvU3RlbmNpbFN0ZC5vdGY");

/*
svg {
    font-family: 'stencil-std-bold', sans-serif;
    position: relative;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

div {
    margin: 10px 0 30px 0;
}*/

.jogga-div {
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.jogga-svg {
    width: 50%;
    cursor: default;
}

@media only screen and (max-width: 1300px) {
    .jogga-svg {
        width: 70%;
    }
}

@media only screen and (max-width: 900px) {
    .jogga-svg {
        width: 90%;
    }
}

@media only screen and (max-width: 550px) {
    .jogga-svg {
        width: 100%;
    }
}

.initials-bubble {
    display: block;
}

.initials-bubble:hover {
    display: none;
    cursor: default;
}

.name-bubble:hover {
    cursor: default;
}

.name-bubble {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.name-bubble.show {
    opacity: 1;
}