@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --onlineblue: #0D5474;
  --onlinebluedark: #072f41;
  --onlineyellow: #F9B759;
}

* {
  font-family: 'Roboto', sans-serif;
}

/* HEADER */

.header-main {
  width: 100%;
  background-color: white;
}

.header-submain {
  width: 75%;
  margin: 0 auto;
}

.header-top {
  width: 100%;
  height: 7rem;
  border-bottom: 1px solid #C3C3C3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  width: 30rem;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7rem;
  gap: 3rem;
}

.nav-btn {
  color: var(--onlineblue);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  width: max-content;
  transition: .2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.nav-btn:hover {
  color: var(--onlinebluedark);
}

.nav-btn-main {
  color: white;
  background-color: var(--onlineblue);
  border-radius: 9999px;
  padding: 0.5rem 2rem;
  font-weight: 400;
}

.nav-btn-main:hover {
  color: white;
  background-color: var(--onlinebluedark);
}

@media only screen and (max-width: 750px) {

  .header-submain {
    width: 90%;
  }

  .header-top {
    height: 5rem;
  }

  .header-logo {
    width: 22.5rem;
  }

  .header-bottom {
    gap: 1rem;
    height: 5rem;
  }

  .nav-btn-main {
    padding: 0.5rem 1rem;
  }
}

/* FOOTER */

.footer-main {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12rem;
  background-color: var(--onlineblue);
  color: white;
  padding: 2rem 0;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer-links a {
  color: white;
  text-decoration: none;
  transition: .2s;
}

.footer-links a:hover {
  color: var(--onlineyellow);
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-bottom a {
  color: white;
  transition: .2s;
  font-weight: 500;
}

.footer-bottom a:hover {
  color: var(--onlineyellow);
}

@media only screen and (max-width: 750px) {

    .footer-main {
      height: 10rem;
    }

    .footer-links {
      gap: 1rem;
    }
}